/* Resetando estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Fundo da página */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #4A90E2, #50E3C2); /* Gradiente azul suave */
}

/* Estilo do título */
h1 {
    font-size: 2rem;
    color: #fff;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

/* Container principal */
.container {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 90%;
    text-align: center;
}

/* Estilo do formulário */
form {
    margin-top: 20px;
}

/* Estilizando inputs, selects e botões */
input, select, button {
    height: 50px;
    width: 100%;
    border-radius: 8px;
    font-size: 1rem;
    margin-bottom: 15px;
    padding: 0 15px;
}

/* Estilo do input de texto */
input {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
}

/* Estilo do botão */
button {
    color: #fff;
    background-color: #4CAF50; /* Verde suave */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
}

/* Efeito hover no botão */
button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/* Exibição do resultado */
#resultado {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

/* Estilo dos subtítulos */
h2 {
    margin-top: 30px;
    font-size: 1.2rem;
    color: #333;
}

/* Histórico de conversões */
#historico {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#historico li {
    background: #f9f9f9;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #555;
}

